<nav>
  <div class="nav-wrapper black">
    <a href="#" class="brand-logo"> GESTION DE EMPLEADOS</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Inicio</a></li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <app-empleados></app-empleados>

</div>

<footer class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Gestión de Empleados</h5>
        <p class="grey-text text-lighten-4">
          Ofrecemos soluciones avanzadas para la gestión de empleados, ayudando a las empresas a optimizar sus procesos
          y mejorar la eficiencia. Desde la administración de personal hasta la automatización de tareas, estamos aquí
          para apoyarte en cada paso del camino.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Nuestras Redes</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://github.com/MrDemon97">Git Hub</a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.linkedin.com/in/jaircoral97/">Linkedin</a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.tiktok.com/@cjair97">TickTok</a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://wa.me/573237832464">WhatsApp</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright black">
    <div class="container">
      © 2024 Gestión de Empleados
      <a class="grey-text text-lighten-4 right" href="#!">Spartan Craft Tech</a>
    </div>
  </div>
</footer>