div > .row {
    display: flex;
    flex-direction: column;
}


.btn {
    width: 9em;
    max-width: 90px;
    min-width: 90px;
    margin: 5px;
}

 /* Asegura que el contenedor tenga el ancho completo de la página */
.container {
    width: 100%;
    max-width: 1200px; /* O el ancho máximo que prefieras */
    margin: 0 auto;
  }
  
  /* Asegura que las tarjetas se alineen correctamente */
  .card {
    margin-bottom: 20px;
  }
  
  /* Asegura que los campos de entrada se ajusten al ancho del contenedor */
  .input-field input {
    width: 100%;
  }
  
  /* Ajustes adicionales para mejorar la disposición en pantallas pequeñas */
  @media (max-width: 600px) {
    .col.s12.m6.l5, .col.s12.m6.l7 {
      width: 100% !important;
    }
  }
  
  /* Asegura que el formulario y la tabla no se desborden a los lados */
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
  
  /* Mejora la disposición de los botones */
  .card-action .btn {
    margin-right: 10px;
  }
  
  /* Añade espacio entre las tarjetas */
  .card-content {
    padding: 20px;
  }
  
  /* Ajusta el tamaño de la tabla para que se ajuste al contenedor */
  .table-container {
    overflow-x: auto;
  }
  