<div class="container">
  <div class="row">
    <!-- Formulario para Crear o Editar Empleado -->
    <div class="col s12 m6 formulario">
      <div class="card">
        <div class="card-content">
          <!-- Mostrar título dinámico -->
          <span class="card-title">{{ isEditing ? 'Actualizar Empleado' : 'Crear Empleado' }}</span>
          <form #empleadoForm="ngForm" (ngSubmit)="agregarEmpleado(empleadoForm)">
       
            <div class="row">
              <div class="input-field col s12">
                <input
                  type="text"
                  name="name"
                  [(ngModel)]="empleadoService.selectedEmpleado.name"
                  placeholder="Ingrese el nombre"
                />
                <label for="name">Nombre</label>
              </div>

              <div class="input-field col s12">
                <input
                  type="text"
                  name="position"
                  [(ngModel)]="empleadoService.selectedEmpleado.position"
                  placeholder="Ingrese el cargo"
                />
                <label for="position">Cargo</label>
              </div>

              <div class="input-field col s12">
                <input
                  type="text"
                  name="office"
                  [(ngModel)]="empleadoService.selectedEmpleado.office"
                  placeholder="Ingrese el lugar de trabajo"
                />
                <label for="office">Lugar de Trabajo</label>
              </div>

              <div class="input-field col s12">
                <input
                  type="number"
                  name="salary"
                  [(ngModel)]="empleadoService.selectedEmpleado.salary"
                  placeholder="Ingrese el salario"
                />
                <label for="salary">Salario</label>
              </div>

              <div class="card-action">
                <button type="button" class="btn" (click)="resetForm(empleadoForm)">Limpiar</button>
                <button type="submit" class="btn">Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Lista de Empleados -->
    <div class="col s12 m6 tabla">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Lista de Empleados</span>
          <table class="highlight">
            <thead>
              <tr>
                <th class = "orderOption" (click)="sortEmpleados('name')">Nombre</th>
                <th class = "orderOption" (click)="sortEmpleados('position')">Cargo</th>
                <th class = "orderOption" (click)="sortEmpleados('office')">Oficina</th>
                <th class = "orderOption" (click)="sortEmpleados('salary')">Salario</th>
                <th> Acciones </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let empleado of empleados">
                <td class="tableList nameList">{{ empleado.name }}</td>
                <td class="tableList positionList">{{ empleado.position }}</td>
                <td class="tableList officeList">{{ empleado.office }}</td>
                <td class="tableList salaryList">{{ empleado.salary }}</td>
                <td class="tableList butonList">
                  <button class="btn blue" (click)="editarEmpleado(empleado)">Editar</button>
                  <button class="btn red" (click)="eliminarEmpleado(empleado._id)">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
