.btn-small{
  margin-left: 2px;
  margin-right: 2px;
}

/* Alineamos los botones de la tabla */
.tdOptions{
  text-align: center;
}

/* Alineamos el salario hacia la derecha */
.tdSalary{
  text-align: right;
}

/* Centramos encabezados de la tabla */
.orderOption{
  text-align: center;
}

/* Opciones para interactuar con cursor mause  */
.orderOption:hover{
  scale: 1.2;
  cursor: pointer;
  color: aquamarine;
}

.optionRed:hover{
  scale: 1.2;
  cursor: pointer;
  color: red;
}

.optionBlue:hover{
  scale: 1.2;
  cursor: pointer;
  color: cyan;
}